trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: oc-cmd@3
  inputs:
    connectionType: 'OpenShift Connection Service'
    openshiftService: 'cc-csc-openshift'
    version: '4.2'
    cmd: 'oc project cloud-computing-course-teacher-azure'
- task: oc-cmd@3
  inputs:
    connectionType: 'OpenShift Connection Service'
    openshiftService: 'cc-csc-openshift'
    version: '4.2'
    cmd: 'oc new-app https://github.com/datamikko/cc-pipe-test.git'
    ignoreFlag: true
- task: oc-cmd@3
  inputs:
    connectionType: 'OpenShift Connection Service'
    openshiftService: 'cc-csc-openshift'
    version: '4.2'
    cmd: 'oc expose svc cc-pipe-test'
    ignoreFlag: true
- task: oc-cmd@3
  inputs:
    connectionType: 'OpenShift Connection Service'
    openshiftService: 'cc-csc-openshift'
    version: '4.2'
    cmd: 'oc start-build cc-pipe-test --follow'
- task: oc-cmd@3
  inputs:
    connectionType: 'OpenShift Connection Service'
    openshiftService: 'cc-csc-openshift'
    version: '4.2'
    cmd: 'oc status'